<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<div class="text-center"
     th:fragment="alert (type, message)" th:assert="${!#strings.isEmpty(type) and !#strings.isEmpty(message)}">
    <div class="alert alert-dismissable" th:classappend="'alert-' + ${type}">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        <span th:text="${message}"></span>
    </div>
</div>

<!--<div th:fragment="alert (type, message)" th:assert="${!#strings.isEmpty(type) and !#strings.isEmpty(message)}"-->
<!--class="alert alert-dismissable" th:classappend="'alert-' + ${type}">-->
<!--<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>-->
<!--<span th:text="${message}"></span>-->
<!--</div>-->
